:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  background-color: rgb(233, 240, 250);
  color: white;
  background-image: url("./assets/img/back-poke.png");
  background-size: 100% 100%, contain;
  background-repeat: no-repeat;
}